@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  input, select, textarea {
    font-size: 16px !important;
  }
  
  /* Target react-select specifically */
  [class*="css-"][class*="-control"] input,
  [class*="css-"][class*="-singleValue"],
  [class*="css-"][class*="-placeholder"],
  [class*="css-"][class*="-Input"] {
    font-size: 16px !important;
  }
}

body {
  font-family: var(--monzo);
}

.persona-widget__iframe {
  height: 100%;
  width: 100%;
}

.StripeElement {
  width: 100%;
}